li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: rgb(255, 157, 0);
}

.form-group {
  margin-bottom: 5px;
}
